* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

button {
	background: transparent;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0;
	appearance: none;
}

input#formula {
	border: none;
	appearance: none;
	position: absolute;
	left: 12px;
	font-size: 10px;
	width: 208px;
}

#device {
	margin: 12px auto;
  display: block;
  width: 235px;
  background: #15191b;
  color: #fff;
  border-radius: 12px;
  border: 1px solid #000;
  box-shadow: inset -1px -1px #969390, inset 1px 1px #969390;
}

#device #display {
	padding-top: 32px;
	padding-bottom: 12px;
	position: relative;
}

#device #display #answer {
  font-size: 28px;
  font-weight: normal;
  line-height: 1;
	display: block;
	float: right;
  background: #fff;
  width: calc(100% - 16px);
  padding: 16px 2px 4px;
  margin: 0 8px;
  color: #000;
  text-align: right;
  border-radius: 4px;
/*  overflow: hidden;*/
  height: 48px;
}

#device #display #answer.smaller {
	font-size: 20px;
	padding-top: 20px;
}

#device #buttons {
	border-left: 1px solid #5b5752;
	border-bottom: 1px solid #5b5752;
	border-radius: 12px 12px 12px 12px;
}

#device #buttons .row {
	background: #dfe2e3;
}

#device #buttons .row:last-child {
	border-radius: 0 0 12px 12px;
}

#device #buttons .row button {
	width: 50px;
	margin: 4px;
	display: block;
	float: left;
	padding: 14px 0 14px;
	font-size: 20px;
	font-weight: normal;
	border-right: 1px solid #5b5752;
	border-radius: 8px;
	line-height: 1;
}

#device #buttons .row button.arithmetic {
	padding: 12px 0 16px;
}

#device #buttons .row button.numbers {
	padding: 14px 0 14px;
}

#device #buttons .row button:active {
	background: #000;
}

#device #buttons .row button:last-child {
	/*	border-right: 0 transparent;*/
}

#device #buttons .row .functions {
	background: #475153;
	color: #00a2c3;
	font-weight: normal;
}

#device #buttons .row .functions#clear {
	background: #ba5a86;
	color: #fff;
	font-weight: normal;
}

#device #buttons .row .point {
	background: #26292d;
	color: #fff;
}

#device #buttons .row .numbers {
	background: #26292d;
	color: #fff;
/*	box-shadow: 1px 1px #101010;*/
}


#device #buttons .row .arithmetic {
	background: #475153;
	color: #fff;
/*	box-shadow: 1px 1px #101010;*/
}

#device #buttons .row .arithmetic#equal {
/*	border-radius: 0 0 12px 0;*/
}

#device #buttons .row .arithmetic:active {
	background: #000;
}